<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">RentSafe</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'main.home' %}active{% endif %}" href="{{ url_for('main.home') }}">Home</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'admin.admin_login' %}active{% endif %}" aria-current="page" href="{{ url_for('admin.admin_login') }}">Admin Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'resident.resident_login' %}active{% endif %}" href="{{ url_for('resident.resident_login') }}">Resident Portal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
